# test_notebook.ipynb

## Purpose

This notebook is a very simple set of operations, in two blocks.  First block is receiving data from the server (both as json and pandas).  The second block is submitting a new person to the server.

In [6]:
import json
import requests
import pandas as pd

baseURL = 'http://localhost:5000/api/people'

# Part 1: Receiving Requests
## Part1a: Receiving requests (raw)

In [7]:
# Test Get methods here (API)
result = requests.get(baseURL)
print(f"Result code returned: {result.status_code}")
result.text

Result code returned: 200

'[{"FirstName": "Fred", "LastName": "F", "Address": "1121 Yama Ave", "Phone": "111-22-3333"}, {"FirstName": "Marge", "LastName": "F", "Address": "1121 Yama Ave", "Phone": "111-222-3333"}, {"FirstName": "Dera", "LastName": "G", "Address": "1120 Yama Ave", "Phone": "552-123-3355"}, {"FirstName": "Fred", "LastName": "F", "Address": "1119 Yama Ave", "Phone": "111-321-3391"}, {"FirstName": "Fred", "LastName": "F", "Address": "1118 Yama Ave", "Phone": "111-989-2311"}, {"FirstName": "Fred", "LastName": "F", "Address": "1117 Yama Ave", "Phone": "523-12-3211"}, {"FirstName": "sdf", "LastName": "sdf", "Address": "sdfsdf", "Phone": "sdfsdf"}, {"FirstName": "A first name!", "LastName": "A last name", "Address": "12111 Hover Street", "Phone": "121-121-8211"}, {"FirstName": "A first name!", "LastName": "A last name", "Address": "12111 Hover Street", "Phone": "121-121-8211"}, {"FirstName": "A first name!", "LastName": "A last name", "Address": "12111 Hover Street", "Phone": "121-121-8211"}, {"FirstName": "A first name!", "LastName": "A last name", "Address": "12111 Hover Street", "Phone": "121-121-8211"}, {"FirstName": "A first name!", "LastName": "A last name", "Address": "12111 Hover Street", "Phone": "121-121-8211"}, {"FirstName": "lkjlkjsdflj", "LastName": "lkjlkjsdflj234", "Address": "98789273sdf", "Phone": "132-12-1231"}, {"FirstName": "234234", "LastName": "234234", "Address": "234234", "Phone": "111-111-1111"}]'

## Part1b: Receiving requests (Pandas)

In [5]:
people = pd.read_json(result.text)
people

        FirstName     LastName             Address         Phone
0            Fred            F       1121 Yama Ave   111-22-3333
1           Marge            F       1121 Yama Ave  111-222-3333
2            Dera            G       1120 Yama Ave  552-123-3355
3            Fred            F       1119 Yama Ave  111-321-3391
4            Fred            F       1118 Yama Ave  111-989-2311
5            Fred            F       1117 Yama Ave   523-12-3211
6             sdf          sdf              sdfsdf        sdfsdf
7   A first name!  A last name  12111 Hover Street  121-121-8211
8   A first name!  A last name  12111 Hover Street  121-121-8211
9   A first name!  A last name  12111 Hover Street  121-121-8211
10  A first name!  A last name  12111 Hover Street  121-121-8211
11  A first name!  A last name  12111 Hover Street  121-121-8211

# Part 2: Adding a user to the server

In [9]:
# Test Post methods here (API)
personToSend = {
    "FirstName": "A first name!",
    "LastName": "A last name",
    "Address": "12111 Hover Street",
    "Phone": "121-121-8211"
}
jsonObject = json.dumps(personToSend)
jsonObject

'{"FirstName": "A first name!", "LastName": "A last name", "Address": "12111 Hover Street", "Phone": "121-121-8211"}'

In [10]:
result = requests.post(baseURL, json=jsonObject)
print(f"Result returned: {result}, text: {result.text}")

Result returned: <Response [200]>, text: {"result":true}