# Homework5.ipynb

## Purpose
This notebook is intended to give some practice with Pandas, including reading/writing from files and pulling information from the object in various ways.

## Required Hand-in

Two notebooks are required for hand-in.  The first notebook is using this notebook as a template. Work through each part, in order.  Best practices, to a limit, should be followed.  For example, proper names.  The helper function should be kept where directed to make it.

The second notebook is formalizing this notebook into a more report-style notebook.  It should follow all the best practices (imports in the right spot, helper functions in the right spot, and introduction, a conclusion on analysis).  The intermediate work isn't as required.  So, for Notebook 2, you need Part 1a, Part 4, and Part 5 - at a minimum.  If you find other interesting properties of the file you want to include as part of Notebook 2, feel free to do so, but it's not required.

## Notebook Notes and Tips

1.  When you get to part 4, note we covered all that's required in the previous steps to accomplish the goal in as few of lines as possible.
2.  If you have difficulties with pulling in the CSV, please see the Homework 5 help video which will go through the logic on some of this, as well as how to find the file in Windows.
3.  Remember you're graded 70% correctness (execution correctness), and 30% on style/names/etc. - Please see the announcement and the video in Module 7 that goes into this in more detail

# Part 1: Preparation

## Part 1a: Loading the data set
In module 06.01.01, we talk about importing CSV files.  Inside the git repository, under data, we have the `MLB_Batting.csv` file.  We want to load this into a DataFrame to start with.

* Be mindful of your "working directory" in Python.  You may need to point to the file directly with what's called an "absolute location".  By "absolute", I mean `C:\Users\<YourUser>\BAIS-6040-0EXP-Summer\data\MLB_Batting.csv`, or something like that - where the drive is specified. You can also use relative URLs, too. Use Windows Explorer to determine the location of the data folder and go to the title bar and copy/paste it in.
* Please do NOT load this through links on Github.  e.g. https://github.com/.... - using this after class will rely on you knowing how to import the data.

Please print the result of the data load (avoid using the print statement, just have it exist on its own cell).  Also call info (https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.info.html) to show information about it.

In [1]:
import pandas as pd

In [2]:
# Load the notebook and display results

,playerID,yearID,stint,teamID,lgID,G,AB,R,H,2B,...,RBI,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP
0,abercda01,1871,1,TRO,NaN,1,4,0,0,0,...,0.0,0.0,0.0,0,0.0,NaN,NaN,NaN,NaN,0.0
1,addybo01,1871,1,RC1,NaN,25,118,30,32,6,...,13.0,8.0,1.0,4,0.0,NaN,NaN,NaN,NaN,0.0
2,allisar01,1871,1,CL1,NaN,29,137,28,40,4,...,19.0,3.0,1.0,2,5.0,NaN,NaN,NaN,NaN,1.0
3,allisdo01,1871,1,WS3,NaN,27,133,28,44,10,...,27.0,1.0,1.0,0,2.0,NaN,NaN,NaN,NaN,0.0
4,ansonca01,1871,1,RC1,NaN,25,120,29,39,11,...,16.0,6.0,2.0,2,1.0,NaN,NaN,NaN,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105856,zimmebr01,2018,1,CLE,AL,34,106,14,24,5,...,9.0,4.0,1.0,7,44.0,0.0,1.0,0.0,0.0,1.0
105857,zimmejo02,2018,1,DET,AL,25,2,0,0,0,...,0.0,0.0,0.0,0,2.0,0.0,0.0,0.0,0.0,0.0
105858,zimmery01,2018,1,WAS,NL,85,288,33,76,21,...,51.0,1.0,1.0,30,55.0,1.0,3.0,0.0,2.0,10.0
105859,zobribe01,2018,1,CHN,NL,139,455,67,139,28,...,58.0,3.0,4.0,55,60.0,1.0,2.0,1.0,7.0,8.0
105860,zuninmi01,2018,1,SEA,AL,113,373,37,75,18,...,44.0,0.0,0.0,24,150.0,0.0,6.0,0.0,2.0,7.0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105861 entries, 0 to 105860
Data columns (total 22 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   playerID  105861 non-null  object
 1   yearID    105861 non-null  int64
 2   stint     105861 non-null  int64
 3   teamID    105861 non-null  object
 4   lgID      105123 non-null  object
 5   G         105861 non-null  int64
 6   AB        105861 non-null  int64
 7   R         105861 non-null  int64
 8   H         105861 non-null  int64
 9   2B        105861 non-null  int64
 10  3B        105861 non-null  int64
 11  HR        105861 non-null  int64
 12  RBI       105105 non-null  float64
 13  SB        103493 non-null  float64
 14  CS        82320 non-null   float64
 15  BB        105861 non-null  int64
 16  SO        103761 non-null  float64
 17  IBB       69210 non-null   float64
 18  HBP       103044 non-null  float64
 19  SH        99792 non-null   float64
 20  SF        69757 non-null   float64
 21  GIDP      80420 non-null   float64
dtypes: float64(9), int64(10), object(3)
memory usage: 17.8+ MB

## Part 1b: Slicing Data (practice)
In this section, lets practice pulling columns.  We can query **multiple columns**, or **single columns**. We won't be using the output for any of this later on (hint on readability)

In [4]:
# Pull a single column, let's do the column labeled H

0           0
1          32
2          40
3          44
4          39
         ...
105856     24
105857      0
105858     76
105859    139
105860     75
Name: H, Length: 105861, dtype: int64

In [5]:
# Run type() also on the above.  What does it give you?  Pay attention to the types, and how it differs from a DataFrame!

pandas.core.series.Series

In [6]:
# Now let's pull 2 columns.  Lets do AB and 2B

         AB  2B
0         4   0
1       118   6
2       137   4
3       133  10
4       120  11
...     ...  ..
105856  106   5
105857    2   0
105858  288  21
105859  455  28
105860  373  18

[105861 rows x 2 columns]

In [7]:
# Now run type on what you did with pulling AB/2B, what does it give you?  Again, pay attention to types here.

pandas.core.frame.DataFrame

## Part 1c: Slicing Data (real)

We'll use this data a fair amount in the remainder of the notebook.

Please pull, from the DataFrame, data that in 1990

,playerID,yearID,stint,teamID,lgID,G,AB,R,H,2B,...,RBI,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP
67426,aasedo01,1990,1,LAN,NL,32,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
67427,abbotji01,1990,1,CAL,AL,33,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
67428,abbotpa01,1990,1,MIN,AL,7,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
67429,abnersh01,1990,1,SDN,NL,91,184,17,45,9,...,15.0,2.0,3.0,9,28.0,1.0,2.0,2.0,1.0,3.0
67430,ackerji01,1990,1,TOR,AL,59,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68536,youngcu01,1990,1,OAK,AL,28,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
68537,youngge02,1990,1,HOU,NL,57,154,15,27,4,...,4.0,6.0,3.0,20,23.0,0.0,0.0,4.0,1.0,3.0
68538,youngma01,1990,1,SEA,AL,34,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
68539,yountro01,1990,1,ML4,AL,158,587,98,145,17,...,77.0,15.0,8.0,78,89.0,6.0,6.0,4.0,8.0,7.0
68540,zeileto01,1990,1,SLN,NL,144,495,62,121,25,...,57.0,2.0,4.0,67,77.0,3.0,2.0,0.0,6.0,11.0

From the result above, pull all rows where RBI > 0

,playerID,yearID,stint,teamID,lgID,G,AB,R,H,2B,...,RBI,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP
67429,abnersh01,1990,1,SDN,NL,91,184,17,45,9,...,15.0,2.0,3.0,9,28.0,1.0,2.0,2.0,1.0,3.0
67432,afenitr01,1990,1,OAK,AL,14,14,0,2,0,...,2.0,0.0,0.0,0,6.0,0.0,0.0,0.0,1.0,0.0
67436,aldremi01,1990,1,MON,NL,96,161,22,39,7,...,18.0,1.0,2.0,37,31.0,2.0,1.0,0.0,1.0,2.0
67440,allrebe01,1990,1,CLE,AL,4,16,2,3,1,...,2.0,0.0,0.0,2,3.0,0.0,0.0,0.0,0.0,0.0
67441,alomaro01,1990,1,SDN,NL,147,586,80,168,27,...,60.0,24.0,7.0,48,72.0,1.0,2.0,5.0,5.0,16.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68531,wynnema01,1990,1,CHN,NL,92,186,21,38,8,...,19.0,3.0,2.0,14,25.0,3.0,1.0,1.0,0.0,4.0
68532,yeldier01,1990,1,HOU,NL,142,511,69,130,9,...,28.0,64.0,25.0,39,87.0,1.0,0.0,4.0,5.0,11.0
68537,youngge02,1990,1,HOU,NL,57,154,15,27,4,...,4.0,6.0,3.0,20,23.0,0.0,0.0,4.0,1.0,3.0
68539,yountro01,1990,1,ML4,AL,158,587,98,145,17,...,77.0,15.0,8.0,78,89.0,6.0,6.0,4.0,8.0,7.0
68540,zeileto01,1990,1,SLN,NL,144,495,62,121,25,...,57.0,2.0,4.0,67,77.0,3.0,2.0,0.0,6.0,11.0

One thing to note.  Pay attention to the bottom of each DataFrame on how many rows are returned.  What did we start out with, and how has it decreased?  Also pay attention to the column index on the left side.

It's also worth noting that these are "shallow copies", and are linked to the original data source.  Let's copy (https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.copy.html) out the RBI call above and store it.

,playerID,yearID,stint,teamID,lgID,G,AB,R,H,2B,...,RBI,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP
67429,abnersh01,1990,1,SDN,NL,91,184,17,45,9,...,15.0,2.0,3.0,9,28.0,1.0,2.0,2.0,1.0,3.0
67432,afenitr01,1990,1,OAK,AL,14,14,0,2,0,...,2.0,0.0,0.0,0,6.0,0.0,0.0,0.0,1.0,0.0
67436,aldremi01,1990,1,MON,NL,96,161,22,39,7,...,18.0,1.0,2.0,37,31.0,2.0,1.0,0.0,1.0,2.0
67440,allrebe01,1990,1,CLE,AL,4,16,2,3,1,...,2.0,0.0,0.0,2,3.0,0.0,0.0,0.0,0.0,0.0
67441,alomaro01,1990,1,SDN,NL,147,586,80,168,27,...,60.0,24.0,7.0,48,72.0,1.0,2.0,5.0,5.0,16.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68531,wynnema01,1990,1,CHN,NL,92,186,21,38,8,...,19.0,3.0,2.0,14,25.0,3.0,1.0,1.0,0.0,4.0
68532,yeldier01,1990,1,HOU,NL,142,511,69,130,9,...,28.0,64.0,25.0,39,87.0,1.0,0.0,4.0,5.0,11.0
68537,youngge02,1990,1,HOU,NL,57,154,15,27,4,...,4.0,6.0,3.0,20,23.0,0.0,0.0,4.0,1.0,3.0
68539,yountro01,1990,1,ML4,AL,158,587,98,145,17,...,77.0,15.0,8.0,78,89.0,6.0,6.0,4.0,8.0,7.0
68540,zeileto01,1990,1,SLN,NL,144,495,62,121,25,...,57.0,2.0,4.0,67,77.0,3.0,2.0,0.0,6.0,11.0

In [11]:
# Now, reset the index (the far left side) so it's auto incrementing starting at 0
# Read the documentation or notebooks I provided on reset_index
# You shouldn't have an index column when you're done.

,playerID,yearID,stint,teamID,lgID,G,AB,R,H,2B,...,RBI,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP
0,abnersh01,1990,1,SDN,NL,91,184,17,45,9,...,15.0,2.0,3.0,9,28.0,1.0,2.0,2.0,1.0,3.0
1,afenitr01,1990,1,OAK,AL,14,14,0,2,0,...,2.0,0.0,0.0,0,6.0,0.0,0.0,0.0,1.0,0.0
2,aldremi01,1990,1,MON,NL,96,161,22,39,7,...,18.0,1.0,2.0,37,31.0,2.0,1.0,0.0,1.0,2.0
3,allrebe01,1990,1,CLE,AL,4,16,2,3,1,...,2.0,0.0,0.0,2,3.0,0.0,0.0,0.0,0.0,0.0
4,alomaro01,1990,1,SDN,NL,147,586,80,168,27,...,60.0,24.0,7.0,48,72.0,1.0,2.0,5.0,5.0,16.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
608,wynnema01,1990,1,CHN,NL,92,186,21,38,8,...,19.0,3.0,2.0,14,25.0,3.0,1.0,1.0,0.0,4.0
609,yeldier01,1990,1,HOU,NL,142,511,69,130,9,...,28.0,64.0,25.0,39,87.0,1.0,0.0,4.0,5.0,11.0
610,youngge02,1990,1,HOU,NL,57,154,15,27,4,...,4.0,6.0,3.0,20,23.0,0.0,0.0,4.0,1.0,3.0
611,yountro01,1990,1,ML4,AL,158,587,98,145,17,...,77.0,15.0,8.0,78,89.0,6.0,6.0,4.0,8.0,7.0
612,zeileto01,1990,1,SLN,NL,144,495,62,121,25,...,57.0,2.0,4.0,67,77.0,3.0,2.0,0.0,6.0,11.0

If you don't need all the columns, it's good to remove (or select) the ones we're interested in.  Only keep the playerID, teamID, and RBI as a DataFrame.  Remember your naming matters here since we're losing the 1990 representation in the data.

      playerID teamID   RBI
0    abnersh01    SDN  15.0
1    afenitr01    OAK   2.0
2    aldremi01    MON  18.0
3    allrebe01    CLE   2.0
4    alomaro01    SDN  60.0
..         ...    ...   ...
608  wynnema01    CHN  19.0
609  yeldier01    HOU  28.0
610  youngge02    HOU   4.0
611  yountro01    ML4  77.0
612  zeileto01    SLN  57.0

[613 rows x 3 columns]

# Part 3: Analysis

There are various ways we can customize a DataFrame further, to make the analysis easier.  One document that goes over some options are:

https://pandas.pydata.org/pandas-docs/stable/getting_started/intro_tutorials/06_calculate_statistics.html

We could use base python, or numpy to do parts of what we're going to do below.  See the conclusion (very end) for some recommended exercises outside this homework.

## Part 3a: Getting the mean (and a tie back to base Python)

In [13]:
# Calculate the mean for the variable created at the very end of Part 2 (full DataFrame)

27.412724306688418

In [14]:
# Looking at teamID SDN, what's the mean for just them? How far different is is it from the mean of everyone.

Team SDN's RBI is: 24.153846153846153, and the difference from the full DataFrame is: -3.2588781528422643

In [15]:
# Repeat the same thing you did above, now with team ML4

Team ml4's RBI is: 35.78947368421053, and the difference from the full DataFrame is: 8.37674937752211

In [16]:
# Now, duplication is bad, so now create a function that will print this information.  Note that we shouldn't rely on "global variables", so my recommendation is that you pass in a dataframe, and a teamID.  The function then can calculate the RBI for the whole frame, then for the team requested, and print it out

In [17]:
# Now run a few tests to make sure it works.

Mean of entire DataFrame: 27.412724306688418
Team ML4's RBI is: 35.78947368421053, and the difference from the full DataFrame is: 8.37674937752211

Mean of entire DataFrame: 27.412724306688418
Team SDN's RBI is: 24.153846153846153, and the difference from the full DataFrame is: -3.2588781528422643

Mean of entire DataFrame: 27.412724306688418
Team HOU's RBI is: 19.85185185185185, and the difference from the full DataFrame is: -7.5608724548365664

## Part 3b: GroupBy

Refer back to that document I put at the beginning of part 3.  Study the group by portion, and let's create a representation that's grouped by the team, so we get the average RBI

teamID
ATL    26.500000
BAL    27.086957
BOS    31.428571
CAL    29.363636
CHA    37.470588
CHN    24.961538
CIN    25.760000
CLE    32.142857
DET    34.000000
HOU    19.851852
KCA    28.695652
LAN    23.068966
MIN    31.250000
ML4    35.789474
MON    26.391304
NYA    25.500000
NYN    23.677419
OAK    28.875000
PHI    22.107143
PIT    30.130435
SDN    24.153846
SEA    30.500000
SFN    21.281250
SLN    20.518519
TEX    30.523810
TOR    40.500000
Name: RBI, dtype: float64

# Part 4: Analysis with the whole

In the end of part 3, pick a team that you like.  It doesn't matter which one you pick.  Let's go back to the original dataset (right after it was first loaded), and pull out the average RBI by year.  So for one team, we should see the RBI across the years we have recorded.

We've had isolated practice in all this above, but you can write this answer all as one line of code.

yearID
1887    29.937500
1888    17.727273
1889    25.956522
1890     9.260870
1891    22.782609
          ...
2014    14.644444
2015    14.369565
2016    12.654545
2017    13.510638
2018    13.854167
Name: RBI, Length: 132, dtype: float64

# Part 5: Conclusion of data

In this part, take a look at the data from part 4.  What years were better than others for the team you picked?  A definition for RBI (yeah, I needed this): https://www.mlb.com/glossary/standard-stats/runs-batted-in

It may be helpful to output your DataFrame to CSV to read all of it, or you can use pd.set_option to allow more to print.  You can do something like I have below:


pd.set_option('display.max_rows', len(<YOUR_VARIABLE>))

# Homework Conclusion

If you haven't looked much at the notebook for Pandas (05.01), and the loads (06.*), I recommend you spend some time with it.  This homework couldn't include everything that was gone over in those notebooks, and took a more analysis-like workflow on real data.  But, the downfall of this is that it grouped multiple homework assignments into one, and isn't as deep as a result.

While not required, I recommend you spend some time understanding how NumPy plays in all this.  A good deal of what we wrote above can be done with base Python, and NumPy - and in some cases you may find yourself doing that.  Try to work with how these all relate to each other.