# Homework5.ipynb

## Purpose
This notebook is intended to give some practice with Pandas, including reading/writing from files and pulling information from the object in various ways.

## Required Hand-in

(Fill in!)

# Part 1: Preparation

## Part 1a: Loading the data set
In module 06.01.01, we talk about importing CSV files.  Inside the git repository, under data, we have the `MLB_Batting.csv` file.  We want to load this into a DataFrame to start with.

* Be mindful of your "working directory" in Python.  You may need to point to the file directly with what's called an "absolute location".  By "absolute", I mean `C:\Users\<YourUser>\BAIS-6040-0EXP-Summer\data\MLB_Batting.csv`, or something like that - where the drive is specified. You can also use relative URLs, too. Use Windows Explorer to determine the location of the data folder and go to the title bar and copy/paste it in.
* Please do NOT load this through links on Github.  e.g. https://github.com/.... - using this after class will rely on you knowing how to import the data.

Please print the result of the data load (avoid using the print statement, just have it exist on its own cell).  Also call info (https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.info.html) to show information about it.

In [1]:
import pandas as pd

In [2]:
mlbBattingData = pd.read_csv("../data/MLB_Batting.csv")
mlbBattingData

,playerID,yearID,stint,teamID,lgID,G,AB,R,H,2B,...,RBI,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP
0,abercda01,1871,1,TRO,NaN,1,4,0,0,0,...,0.0,0.0,0.0,0,0.0,NaN,NaN,NaN,NaN,0.0
1,addybo01,1871,1,RC1,NaN,25,118,30,32,6,...,13.0,8.0,1.0,4,0.0,NaN,NaN,NaN,NaN,0.0
2,allisar01,1871,1,CL1,NaN,29,137,28,40,4,...,19.0,3.0,1.0,2,5.0,NaN,NaN,NaN,NaN,1.0
3,allisdo01,1871,1,WS3,NaN,27,133,28,44,10,...,27.0,1.0,1.0,0,2.0,NaN,NaN,NaN,NaN,0.0
4,ansonca01,1871,1,RC1,NaN,25,120,29,39,11,...,16.0,6.0,2.0,2,1.0,NaN,NaN,NaN,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105856,zimmebr01,2018,1,CLE,AL,34,106,14,24,5,...,9.0,4.0,1.0,7,44.0,0.0,1.0,0.0,0.0,1.0
105857,zimmejo02,2018,1,DET,AL,25,2,0,0,0,...,0.0,0.0,0.0,0,2.0,0.0,0.0,0.0,0.0,0.0
105858,zimmery01,2018,1,WAS,NL,85,288,33,76,21,...,51.0,1.0,1.0,30,55.0,1.0,3.0,0.0,2.0,10.0
105859,zobribe01,2018,1,CHN,NL,139,455,67,139,28,...,58.0,3.0,4.0,55,60.0,1.0,2.0,1.0,7.0,8.0
105860,zuninmi01,2018,1,SEA,AL,113,373,37,75,18,...,44.0,0.0,0.0,24,150.0,0.0,6.0,0.0,2.0,7.0

In [3]:
mlbBattingData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105861 entries, 0 to 105860
Data columns (total 22 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   playerID  105861 non-null  object
 1   yearID    105861 non-null  int64
 2   stint     105861 non-null  int64
 3   teamID    105861 non-null  object
 4   lgID      105123 non-null  object
 5   G         105861 non-null  int64
 6   AB        105861 non-null  int64
 7   R         105861 non-null  int64
 8   H         105861 non-null  int64
 9   2B        105861 non-null  int64
 10  3B        105861 non-null  int64
 11  HR        105861 non-null  int64
 12  RBI       105105 non-null  float64
 13  SB        103493 non-null  float64
 14  CS        82320 non-null   float64
 15  BB        105861 non-null  int64
 16  SO        103761 non-null  float64
 17  IBB       69210 non-null   float64
 18  HBP       103044 non-null  float64
 19  SH        99792 non-null   float64
 20  SF        69757 non-null   float64
 21  GIDP      80420 non-null   float64
dtypes: float64(9), int64(10), object(3)
memory usage: 17.8+ MB

## Part 1b: Slicing Data

Please pull, from the DataFrame, data that in 1990

In [4]:
mlbBatting1990 = mlbBattingData[(mlbBattingData["yearID"] == 1990)]
mlbBatting1990

,playerID,yearID,stint,teamID,lgID,G,AB,R,H,2B,...,RBI,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP
67426,aasedo01,1990,1,LAN,NL,32,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
67427,abbotji01,1990,1,CAL,AL,33,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
67428,abbotpa01,1990,1,MIN,AL,7,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
67429,abnersh01,1990,1,SDN,NL,91,184,17,45,9,...,15.0,2.0,3.0,9,28.0,1.0,2.0,2.0,1.0,3.0
67430,ackerji01,1990,1,TOR,AL,59,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68536,youngcu01,1990,1,OAK,AL,28,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
68537,youngge02,1990,1,HOU,NL,57,154,15,27,4,...,4.0,6.0,3.0,20,23.0,0.0,0.0,4.0,1.0,3.0
68538,youngma01,1990,1,SEA,AL,34,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
68539,yountro01,1990,1,ML4,AL,158,587,98,145,17,...,77.0,15.0,8.0,78,89.0,6.0,6.0,4.0,8.0,7.0
68540,zeileto01,1990,1,SLN,NL,144,495,62,121,25,...,57.0,2.0,4.0,67,77.0,3.0,2.0,0.0,6.0,11.0

From the result above, pull all rows where RBI > 0

In [5]:
mlbBatting1990RBI = mlbBatting1990[(mlbBatting1990["RBI"] > 0)]
mlbBatting1990RBI

,playerID,yearID,stint,teamID,lgID,G,AB,R,H,2B,...,RBI,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP
67429,abnersh01,1990,1,SDN,NL,91,184,17,45,9,...,15.0,2.0,3.0,9,28.0,1.0,2.0,2.0,1.0,3.0
67432,afenitr01,1990,1,OAK,AL,14,14,0,2,0,...,2.0,0.0,0.0,0,6.0,0.0,0.0,0.0,1.0,0.0
67436,aldremi01,1990,1,MON,NL,96,161,22,39,7,...,18.0,1.0,2.0,37,31.0,2.0,1.0,0.0,1.0,2.0
67440,allrebe01,1990,1,CLE,AL,4,16,2,3,1,...,2.0,0.0,0.0,2,3.0,0.0,0.0,0.0,0.0,0.0
67441,alomaro01,1990,1,SDN,NL,147,586,80,168,27,...,60.0,24.0,7.0,48,72.0,1.0,2.0,5.0,5.0,16.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68531,wynnema01,1990,1,CHN,NL,92,186,21,38,8,...,19.0,3.0,2.0,14,25.0,3.0,1.0,1.0,0.0,4.0
68532,yeldier01,1990,1,HOU,NL,142,511,69,130,9,...,28.0,64.0,25.0,39,87.0,1.0,0.0,4.0,5.0,11.0
68537,youngge02,1990,1,HOU,NL,57,154,15,27,4,...,4.0,6.0,3.0,20,23.0,0.0,0.0,4.0,1.0,3.0
68539,yountro01,1990,1,ML4,AL,158,587,98,145,17,...,77.0,15.0,8.0,78,89.0,6.0,6.0,4.0,8.0,7.0
68540,zeileto01,1990,1,SLN,NL,144,495,62,121,25,...,57.0,2.0,4.0,67,77.0,3.0,2.0,0.0,6.0,11.0

One thing to note.  Pay attention to the bottom of each DataFrame on how many rows are returned.  What did we start out with, and how has it decreased?  Also pay attention to the column index on the left side.

It's also worth noting that these are "shallow copies", and are linked to the original data source.  Let's copy out the RBI call above and store it.

In [6]:
mlbBatting1990RBI = mlbBatting1990RBI.copy()
mlbBatting1990RBI

,playerID,yearID,stint,teamID,lgID,G,AB,R,H,2B,...,RBI,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP
67429,abnersh01,1990,1,SDN,NL,91,184,17,45,9,...,15.0,2.0,3.0,9,28.0,1.0,2.0,2.0,1.0,3.0
67432,afenitr01,1990,1,OAK,AL,14,14,0,2,0,...,2.0,0.0,0.0,0,6.0,0.0,0.0,0.0,1.0,0.0
67436,aldremi01,1990,1,MON,NL,96,161,22,39,7,...,18.0,1.0,2.0,37,31.0,2.0,1.0,0.0,1.0,2.0
67440,allrebe01,1990,1,CLE,AL,4,16,2,3,1,...,2.0,0.0,0.0,2,3.0,0.0,0.0,0.0,0.0,0.0
67441,alomaro01,1990,1,SDN,NL,147,586,80,168,27,...,60.0,24.0,7.0,48,72.0,1.0,2.0,5.0,5.0,16.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68531,wynnema01,1990,1,CHN,NL,92,186,21,38,8,...,19.0,3.0,2.0,14,25.0,3.0,1.0,1.0,0.0,4.0
68532,yeldier01,1990,1,HOU,NL,142,511,69,130,9,...,28.0,64.0,25.0,39,87.0,1.0,0.0,4.0,5.0,11.0
68537,youngge02,1990,1,HOU,NL,57,154,15,27,4,...,4.0,6.0,3.0,20,23.0,0.0,0.0,4.0,1.0,3.0
68539,yountro01,1990,1,ML4,AL,158,587,98,145,17,...,77.0,15.0,8.0,78,89.0,6.0,6.0,4.0,8.0,7.0
68540,zeileto01,1990,1,SLN,NL,144,495,62,121,25,...,57.0,2.0,4.0,67,77.0,3.0,2.0,0.0,6.0,11.0

In [7]:
# Now, reset the index (the far left side) so it's auto incrementing starting at 0
# Read the documentation or notebooks I provided on reset_index
# You shouldn't have an index column when you're done.
mlbBatting1990RBI.reset_index(drop=True, inplace=True)
mlbBatting1990RBI

,playerID,yearID,stint,teamID,lgID,G,AB,R,H,2B,...,RBI,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP
0,abnersh01,1990,1,SDN,NL,91,184,17,45,9,...,15.0,2.0,3.0,9,28.0,1.0,2.0,2.0,1.0,3.0
1,afenitr01,1990,1,OAK,AL,14,14,0,2,0,...,2.0,0.0,0.0,0,6.0,0.0,0.0,0.0,1.0,0.0
2,aldremi01,1990,1,MON,NL,96,161,22,39,7,...,18.0,1.0,2.0,37,31.0,2.0,1.0,0.0,1.0,2.0
3,allrebe01,1990,1,CLE,AL,4,16,2,3,1,...,2.0,0.0,0.0,2,3.0,0.0,0.0,0.0,0.0,0.0
4,alomaro01,1990,1,SDN,NL,147,586,80,168,27,...,60.0,24.0,7.0,48,72.0,1.0,2.0,5.0,5.0,16.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
608,wynnema01,1990,1,CHN,NL,92,186,21,38,8,...,19.0,3.0,2.0,14,25.0,3.0,1.0,1.0,0.0,4.0
609,yeldier01,1990,1,HOU,NL,142,511,69,130,9,...,28.0,64.0,25.0,39,87.0,1.0,0.0,4.0,5.0,11.0
610,youngge02,1990,1,HOU,NL,57,154,15,27,4,...,4.0,6.0,3.0,20,23.0,0.0,0.0,4.0,1.0,3.0
611,yountro01,1990,1,ML4,AL,158,587,98,145,17,...,77.0,15.0,8.0,78,89.0,6.0,6.0,4.0,8.0,7.0
612,zeileto01,1990,1,SLN,NL,144,495,62,121,25,...,57.0,2.0,4.0,67,77.0,3.0,2.0,0.0,6.0,11.0

If you don't need all the columns, it's good to remove (or select) the ones we're interested in.  Only keep the playerID, teamID, and RBI as a DataFrame.  Remember your naming matters here since we're losing the 1990 representation in the data.

In [8]:
mlbPlayerTeamRBI1990 = mlbBatting1990RBI[["playerID", "teamID", "RBI"]]
mlbPlayerTeamRBI1990

      playerID teamID   RBI
0    abnersh01    SDN  15.0
1    afenitr01    OAK   2.0
2    aldremi01    MON  18.0
3    allrebe01    CLE   2.0
4    alomaro01    SDN  60.0
..         ...    ...   ...
608  wynnema01    CHN  19.0
609  yeldier01    HOU  28.0
610  youngge02    HOU   4.0
611  yountro01    ML4  77.0
612  zeileto01    SLN  57.0

[613 rows x 3 columns]

# Part 3: Analysis