# Homework7.example.ipynb

## Purpose

This notebook is to give an example of how one could slice information so that you can get more use out of the data set.  Note, I'm not going to do any ML over it, just how to prep the data.

In [1]:
import pandas as pd

In [3]:
arizonaWeather = pd.read_csv("../data/arizona_2010.csv")
arizonaWeather

,STATION,NAME,STATE,LATITUDE,LONGITUDE,ELEVATION,DATE,TMAX,TMAX_ATTRIBUTES,TMIN,TMIN_ATTRIBUTES,TOBS,TOBS_ATTRIBUTES
0,USC00020060,"AGUILA, AZ US",Arizona,33.9433,-113.1875,659.9,2010-01-01,NaN,NaN,NaN,NaN,NaN,NaN
1,USC00020060,"AGUILA, AZ US",Arizona,33.9433,-113.1875,659.9,2010-01-02,NaN,NaN,NaN,NaN,NaN,NaN
2,USC00020060,"AGUILA, AZ US",Arizona,33.9433,-113.1875,659.9,2010-01-03,NaN,NaN,NaN,NaN,NaN,NaN
3,USC00020060,"AGUILA, AZ US",Arizona,33.9433,-113.1875,659.9,2010-01-04,NaN,NaN,NaN,NaN,NaN,NaN
4,USC00020060,"AGUILA, AZ US",Arizona,33.9433,-113.1875,659.9,2010-01-05,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
425,USW00053168,"AJO 29 S, AZ US",Arizona,31.9497,-112.8013,506.3,2010-12-27,64.0,",,R",45.0,",,R",NaN,NaN
426,USW00053168,"AJO 29 S, AZ US",Arizona,31.9497,-112.8013,506.3,2010-12-28,65.0,",,R",37.0,",,R",NaN,NaN
427,USW00053168,"AJO 29 S, AZ US",Arizona,31.9497,-112.8013,506.3,2010-12-29,60.0,",,R",38.0,",,R",NaN,NaN
428,USW00053168,"AJO 29 S, AZ US",Arizona,31.9497,-112.8013,506.3,2010-12-30,53.0,",,R",28.0,",,R",NaN,NaN
429,USW00053168,"AJO 29 S, AZ US",Arizona,31.9497,-112.8013,506.3,2010-12-31,50.0,",,R",25.0,",,R",NaN,NaN

In [5]:
arizonaWeather["STATION"].unique()

array(['USC00020060', 'USW00053168'], dtype=object)

* Student A: Given Latitude and Longitude, get the station name.
* Student B: Given Elevation, get the station name
* Student C: Given temperature and elevation, get station name
* Student D: Given date and elevation, get the likely temperature.