# 05.01.01 - Pandas

## Purpose
This notebook goes over Pandas basics.  Mostly generating pandas objects based off existing structures and/or creating new ones.  We'll also cover updating pandas objects.

Next module we'll talk more about how to use datasets and to load it

In [1]:
# Standard naming convention
import pandas as pd

In [2]:
# Generate 4 elements, just a range/sequence
explicitDataSet = pd.Series([5, 10, 15, 20])
explicitDataSet

0     5
1    10
2    15
3    20
dtype: int64

In [3]:
# To pull a single element
explicitDataSet[2]

15

In [4]:
# To pull a range
explicitDataSet[2:]

2    15
3    20
dtype: int64

In [5]:
# We can assign to another object, just like we've seen before
explicitDataSetSubSet = explicitDataSet[2:]
explicitDataSetSubSet

2    15
3    20
dtype: int64

In [6]:
# Uncomment the below line and run this.
# explicitDataSetSubSet[0] # Note this gives an error!
explicitDataSetSubSet[3]  # only 2 rows, but index 3???

20

In [7]:
# This will list the indexes currently in the dataframe
explicitDataSetSubSet.index

RangeIndex(start=2, stop=4, step=1)

In [8]:
# Gives the length of the dataFrame
len(explicitDataSetSubSet)

2

In [9]:
# We can get the 'true' index, as if this was a standard object
# by using iloc
explicitDataSetSubSet.iloc[0] # This is what we expect

15

In [10]:
# We may want to reset the index to make things consistent
# Note, this works, but returns a new dataframe
explicitDataSetSubSet.reset_index(drop=True)

0    15
1    20
dtype: int64

In [11]:
explicitDataSetSubSet

2    15
3    20
dtype: int64

In [12]:
# We can use inplace to overwrite our current dataframe
explicitDataSetSubSet.reset_index(inplace=True, drop=True)
explicitDataSetSubSet

0    15
1    20
dtype: int64

The important part of the above activity is to realize that Pandas has a separate index, than the index we're normally aware of.  This can cause some confusion, hence the rather verbose example list.  So just remember, index in Pandas language isn't the same as index as in a list, or in numpy, etc

Indexes can actually be more than just numbers, so lets try that.

In [13]:
explicitDataSet

0     5
1    10
2    15
3    20
dtype: int64

In [14]:
explicitDataSet.index = ["Foo", "Bar", "Car", "Zar"]
print(f"explicitDataSet type is: {type(explicitDataSet)}")
explicitDataSet

explicitDataSet type is: <class 'pandas.core.series.Series'>

Foo     5
Bar    10
Car    15
Zar    20
dtype: int64

In [15]:
# Now we can reference the rows two different ways:
print(f"explicitDataSet['Foo'] => {explicitDataSet['Foo']}")
print(f"explicitDataSet.iloc[0] => {explicitDataSet.iloc[0]}")

explicitDataSet['Foo'] => 5
explicitDataSet.iloc[0] => 5

In [16]:
# We don't have to cast, in some cases - pay attention to the below
explicitDataSet['Foo'] = "105"

In [17]:
explicitDataSet

Foo    105
Bar     10
Car     15
Zar     20
dtype: int64

In [18]:
# We're still in dynamic line, but watch the dtype in this case
# Went from dtype: int64 -> object
explicitDataSet["Foo"] = "Hello, world"
explicitDataSet

Foo    Hello, world
Bar              10
Car              15
Zar              20
dtype: object

In general, it's bad to mix data types.  Pay close attention to the below "filter".  In this case
we are searching for all values that are greater than 10.  This doesn't work because Foo => 'Hello, world'.

In [19]:
# Uncomment out and run, to see the error message
# explicitDataSet[(explicitDataSet > 10)]

In [20]:
explicitDataSet = pd.Series([5, 10, 15, 20])
explicitDataSet.index = ["Foo", "Bar", "Car", "Zar"]
explicitDataSet[(explicitDataSet > 10)]

Car    15
Zar    20
dtype: int64

Thus far, data frames don't have much use. Lets make a more complicated data source

In [21]:
import numpy.random as rnd
# Generate some fixture data
months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sept", "Oct", "Nov", "Dec"]
years = [2015, 2016, 2017, 2018, 2019, 2020]

rnd.seed(1024)

npTemps = rnd.randint(-20, 100, size=(len(months), len(years)))
npTemps

array([[ 39,  -3,  77,  88,  81,  69],
       [ 77,  60,  57,  12,  47,  30],
       [ 76,   3,  68,  23,  53, -11],
       [ 99,  45,  -2,  79,  39,  49],
       [ 28,  17,  49,   7,  -1,  28],
       [ -7,  10,  98,  41,  34,  27],
       [ 56, -15,  39,  50,   0,  32],
       [ 77,  92,  -5,  45,  20,   6],
       [ 70,   7,  19,  74,  -8,  -4],
       [ 61, -11,  71,   6, -17,   1],
       [ -7,  18,  43,  -4,  60,  84],
       [ -5,  69,  50,  16,  93,  19]])

In [22]:
wonkyWeather = pd.DataFrame(npTemps, columns=years, index=months)
wonkyWeather

      2015  2016  2017  2018  2019  2020
Jan     39    -3    77    88    81    69
Feb     77    60    57    12    47    30
Mar     76     3    68    23    53   -11
Apr     99    45    -2    79    39    49
May     28    17    49     7    -1    28
Jun     -7    10    98    41    34    27
Jul     56   -15    39    50     0    32
Aug     77    92    -5    45    20     6
Sept    70     7    19    74    -8    -4
Oct     61   -11    71     6   -17     1
Nov     -7    18    43    -4    60    84
Dec     -5    69    50    16    93    19

There are many ways to pull information from a Pandas dataframe.  Some methods are:

In [23]:
# Query a single column
wonkyWeather[2015]

Jan     39
Feb     77
Mar     76
Apr     99
May     28
Jun     -7
Jul     56
Aug     77
Sept    70
Oct     61
Nov     -7
Dec     -5
Name: 2015, dtype: int64

In [24]:
# Query multiple columns
wonkyWeather[[2020, 2015]]

      2020  2015
Jan     69    39
Feb     30    77
Mar    -11    76
Apr     49    99
May     28    28
Jun     27    -7
Jul     32    56
Aug      6    77
Sept    -4    70
Oct      1    61
Nov     84    -7
Dec     19    -5

In [25]:
# Getting a row
wonkyWeather.loc["Jan"]

2015    39
2016    -3
2017    77
2018    88
2019    81
2020    69
Name: Jan, dtype: int64

In [26]:
# Another way to get a row
wonkyWeather.iloc[0]

2015    39
2016    -3
2017    77
2018    88
2019    81
2020    69
Name: Jan, dtype: int64

In [27]:
# Getting multiple rows work like columns
wonkyWeather.loc[["Jan", "Mar"]]

     2015  2016  2017  2018  2019  2020
Jan    39    -3    77    88    81    69
Mar    76     3    68    23    53   -11

In [28]:
wonkyWeather.iloc[0:4]

     2015  2016  2017  2018  2019  2020
Jan    39    -3    77    88    81    69
Feb    77    60    57    12    47    30
Mar    76     3    68    23    53   -11
Apr    99    45    -2    79    39    49

In [29]:
# Every other month
wonkyWeather.iloc[range(0, 12, 2)]

      2015  2016  2017  2018  2019  2020
Jan     39    -3    77    88    81    69
Mar     76     3    68    23    53   -11
May     28    17    49     7    -1    28
Jul     56   -15    39    50     0    32
Sept    70     7    19    74    -8    -4
Nov     -7    18    43    -4    60    84

In [30]:
# Combining Filtering - every other month in 2020
wonkyWeather[2020].iloc[range(0, 12, 2)]

Jan     69
Mar    -11
May     28
Jul     32
Sept    -4
Nov     84
Name: 2020, dtype: int64

We can also filter information from the dataframe as well

In [31]:
# Filter off every column.  Note the NaNs going on
wonkyWeather[(wonkyWeather > 0)]

      2015  2016  2017  2018  2019  2020
Jan   39.0   NaN  77.0  88.0  81.0  69.0
Feb   77.0  60.0  57.0  12.0  47.0  30.0
Mar   76.0   3.0  68.0  23.0  53.0   NaN
Apr   99.0  45.0   NaN  79.0  39.0  49.0
May   28.0  17.0  49.0   7.0   NaN  28.0
Jun    NaN  10.0  98.0  41.0  34.0  27.0
Jul   56.0   NaN  39.0  50.0   NaN  32.0
Aug   77.0  92.0   NaN  45.0  20.0   6.0
Sept  70.0   7.0  19.0  74.0   NaN   NaN
Oct   61.0   NaN  71.0   6.0   NaN   1.0
Nov    NaN  18.0  43.0   NaN  60.0  84.0
Dec    NaN  69.0  50.0  16.0  93.0  19.0

In [32]:
# Get months where, in 2015, the temperature was > 0
# Note we are missing june, nov, dec
wonkyWeather[(wonkyWeather[2015] > 0)]

      2015  2016  2017  2018  2019  2020
Jan     39    -3    77    88    81    69
Feb     77    60    57    12    47    30
Mar     76     3    68    23    53   -11
Apr     99    45    -2    79    39    49
May     28    17    49     7    -1    28
Jul     56   -15    39    50     0    32
Aug     77    92    -5    45    20     6
Sept    70     7    19    74    -8    -4
Oct     61   -11    71     6   -17     1

In [33]:
wonkyWeather[lambda d: d[2015] > 0]

      2015  2016  2017  2018  2019  2020
Jan     39    -3    77    88    81    69
Feb     77    60    57    12    47    30
Mar     76     3    68    23    53   -11
Apr     99    45    -2    79    39    49
May     28    17    49     7    -1    28
Jul     56   -15    39    50     0    32
Aug     77    92    -5    45    20     6
Sept    70     7    19    74    -8    -4
Oct     61   -11    71     6   -17     1

In [34]:
# Get all years where July's temp was greater than 0
julyGreaterZero = wonkyWeather.loc['Jul'][lambda d: d > 0]
julyGreaterZero

2015    56
2017    39
2018    50
2020    32
Name: Jul, dtype: int64

In [35]:
print(f"type of julyGreaterZero => {type(julyGreaterZero)}")
print(f"type of wonkyWeather => {type(wonkyWeather)}")

type of julyGreaterZero => <class 'pandas.core.series.Series'>
type of wonkyWeather => <class 'pandas.core.frame.DataFrame'>

In [36]:
# Pull row for July
wonkyWeather.loc['Jul']

2015    56
2016   -15
2017    39
2018    50
2019     0
2020    32
Name: Jul, dtype: int64

In [37]:
# Pull column for 2018
wonkyWeather.loc[:, 2018]   # === wonkyWeather[2018]

Jan     88
Feb     12
Mar     23
Apr     79
May      7
Jun     41
Jul     50
Aug     45
Sept    74
Oct      6
Nov     -4
Dec     16
Name: 2018, dtype: int64

In [38]:
# Pull both 2016, and 2018
wonkyWeather.loc[:, (2016, 2018)]  # === wonkyWeather[(2016, 2018)]

      2016  2018
Jan     -3    88
Feb     60    12
Mar      3    23
Apr     45    79
May     17     7
Jun     10    41
Jul    -15    50
Aug     92    45
Sept     7    74
Oct    -11     6
Nov     18    -4
Dec     69    16

In [39]:
# Pull a few months, and a few years
wonkyWeather.loc[("Apr", "Oct", "Dec"), (2016, 2018)]

     2016  2018
Apr    45    79
Oct   -11     6
Dec    69    16

In [40]:
wonkyWeather.loc['Jul'] > 0

2015     True
2016    False
2017     True
2018     True
2019    False
2020     True
Name: Jul, dtype: bool

In [41]:
wonkyWeather.loc['Jul', wonkyWeather.loc['Jul'] > 0]

2015    56
2017    39
2018    50
2020    32
Name: Jul, dtype: int64

In [42]:
wonkyWeather.loc[:, wonkyWeather.loc['Jul'] > 0]

      2015  2017  2018  2020
Jan     39    77    88    69
Feb     77    57    12    30
Mar     76    68    23   -11
Apr     99    -2    79    49
May     28    49     7    28
Jun     -7    98    41    27
Jul     56    39    50    32
Aug     77    -5    45     6
Sept    70    19    74    -4
Oct     61    71     6     1
Nov     -7    43    -4    84
Dec     -5    50    16    19

# Pivot Tables
There is an option for using pivot tables.  I'm more highlighting that this exists, and could be useful for reading, but we won't be covering it much.
Documentation:  https://pandas.pydata.org/pandas-docs/stable/user_guide/reshaping.html

The below is taken in large part from their documentation

In [43]:
import numpy as np
tuples = list(zip(*[["bar", "bar", "baz", "baz", "foo", "foo", "qux", "qux"],
                    ["one", "two", "one", "two", "one", "two", "one", "two"]]))
tuples

[('bar', 'one'),
 ('bar', 'two'),
 ('baz', 'one'),
 ('baz', 'two'),
 ('foo', 'one'),
 ('foo', 'two'),
 ('qux', 'one'),
 ('qux', 'two')]

In [44]:
index = pd.MultiIndex.from_tuples(tuples, names=["first", "second"])
index

MultiIndex([('bar', 'one'),
            ('bar', 'two'),
            ('baz', 'one'),
            ('baz', 'two'),
            ('foo', 'one'),
            ('foo', 'two'),
            ('qux', 'one'),
            ('qux', 'two')],
           names=['first', 'second'])

In [45]:
df = pd.DataFrame(rnd.randn(8, 2), index=index, columns=["A", "B"])
df

                     A         B
first second
bar   one    -0.402577  0.604104
      two    -1.635735 -0.833189
baz   one     0.068367  0.422131
      two     0.619559 -0.384196
foo   one     0.021878 -0.034468
      two    -1.139474  0.527764
qux   one     0.786950  1.168642
      two    -1.259274  0.383473

In [46]:
df["A"]

first  second
bar    one      -0.402577
       two      -1.635735
baz    one       0.068367
       two       0.619559
foo    one       0.021878
       two      -1.139474
qux    one       0.786950
       two      -1.259274
Name: A, dtype: float64

In [47]:
df.loc["bar"]

               A         B
second
one    -0.402577  0.604104
two    -1.635735 -0.833189

In [48]:
df.loc[("bar", "one")]

A   -0.402577
B    0.604104
Name: (bar, one), dtype: float64

In [49]:
df["A"].loc[("bar", "one")]

-0.40257712338943896