# SQLSearch.ipynb

An implementation of some simple SQL Searching and Reporting.

In [1]:
# User configurable variables
tableSearch = "Customer"

In [2]:
# The below can safely be ignored
import sqlalchemy as sa
import pandas as pd
from IPython.display import display, HTML

In [3]:
tableSelectAllQuery = f"select s.name as SchemaName, t.name as TableName from sys.tables t join sys.schemas s on (t.schema_id = s.schema_id) where t.name LIKE '%{tableSearch}%'"

def connectToDatabase():
    connectionString = f"mssql+pyodbc://mssql.ad.tdt/WideWorldImporters?driver=ODBC+Driver+17+for+SQL+Server&Trusted_Connection=yes"
    engine = sa.create_engine(connectionString)
    return engine

def getTableSample(schema, table, engine):
    return pd.read_sql(f'select top 5 * from {schema}.{table}', engine)

In [4]:
engine = connectToDatabase()

In [5]:
for index, row in pd.read_sql(tableSelectAllQuery, engine).iterrows():
    schema = row["SchemaName"]
    table = row["TableName"]
    print(f"Table: {schema}.{table}")
    try:
        display(HTML(getTableSample(schema, table, engine).to_html()))
    except:
        print(f'!! SQL Data type exception found, unable to sample')

Table: Sales.CustomerTransactions

Table: Sales.Customers
!! SQL Data type exception found, unable to sample
Table: Sales.Customers_Archive
!! SQL Data type exception found, unable to sample
Table: Sales.CustomerCategories

Table: Sales.CustomerCategories_Archive