# 06.01.02 - JSONImportExport

## Purpose

This notebook specifically talks about dealing with JSON files.  Both input/output.  Please note that we won't be doing really any analysis on these files.  Just pulling them in, doing simple operations, and exporting them

This notebook is part of a set of notebooks about file input/output.

## Requirements

This notebook will read from the data directory within the Github repo.  Pulling this notebook, by itself, will likely NOT work.  You will need to pull down the entire repository.

This notebook will also read from a CSV online.  So internet access at the time of run is required.

This notebook is developed in PyCharm.  It's possible that you may need to modify some paths to get this working if you are using Jupyter or have a different environment.  Please look at and modify the _dataDir_ and __exportDir__ variable below, as needed.  These need to exist, and are directory names.  Subsequent runs of this should overwrite files in the exportDir, and these aren't version controlled.

In [1]:
# IMPORTANT: CHANGE THIS PATH IF IT DOESN'T WORK FOR YOU!!!
dataDir = "../../data/"
exportDir = "../../export/"

import pandas as pd

# Reading from on-disk locations
JSON has a fairly flexible format.  There is a standard, but it's still pretty flexible.  It's important to read the instructions and play with some of these options.  For example, the below comes in incorrectly.

Pay attention to the format of the document, and read the documentation.
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_json.html

In [2]:
boyNames = pd.read_json(f"{dataDir}/BoyNames.json")
boyNames

,0,1,2,3,4,5,6,7,8,9,...,840,841,842,843,844,845,846,847,848,849
Rank,1,2,3,4,5,6,7,8,9,10,...,16,17,18,19,20,21,22,23,24,25
Year,1980,1980,1980,1980,1980,1980,1980,1980,1980,1980,...,2013,2013,2013,2013,2013,2013,2013,2013,2013,2013
Name,Michael,Jason,Christopher,Matthew,David,James,Robert,Daniel,John,Joseph,...,LUCAS,JAMES,JOSEPH,JACKSON,ELIJAH,NATHAN,ANDREW,HENRY,DAVID,JACK
Frequency,3886,2389,2273,2112,2088,1925,1763,1724,1722,1710,...,489,482,482,476,471,470,468,463,461,440

In [3]:
boyNames = pd.read_json(f"{dataDir}/BoyNames.json", orient="index")
boyNames

     Rank  Year         Name  Frequency
0       1  1980      Michael       3886
1       2  1980        Jason       2389
2       3  1980  Christopher       2273
3       4  1980      Matthew       2112
4       5  1980        David       2088
..    ...   ...          ...        ...
845    21  2013       NATHAN        470
846    22  2013       ANDREW        468
847    23  2013        HENRY        463
848    24  2013        DAVID        461
849    25  2013         JACK        440

[850 rows x 4 columns]

# Writing to disk
Following the instructions on the documentation page, you can customize how things are saved.  A few options are below.  Be sure to look at the JSON file itself to get a better idea of what's going on.

In [4]:
boyNames.to_json(f"{exportDir}/boyNames.columns.json", orient="columns")
boyNames.to_json(f"{exportDir}/boyNames.values.json", orient="values")
boyNames.to_json(f"{exportDir}/boyNames.table.json", orient="table")

Some closing notes include:

1. JSON is becoming more and more popular over technologies like XML.  XML is used a lot though.
2. Note the types of exports we can do.  Try playing with importing those same ones.  Are the column names retained in all cases?